.footerBackground {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.8)
    ),
    linear-gradient(180deg, rgba(0, 10, 255, 0.5) 0%, rgba(0, 0, 0, 0) 136.61%),
    url(/assets/bG14.jpeg);
  color: white;
  background-size: auto, cover;
  background-position: center;
  background-repeat: no-repeat;
}

.horizontalDivider {
  background: #0000001a;
  height: 1px;
  width: 100%;
  margin-top: 10px;
}

.footerContent {
  margin: 0 200px;
  margin-top: 101px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logoSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  height: 90px; /* Adjust as needed */
  margin-bottom: 15px;
}

.iconContainer {
  display: flex;
  gap: 16px;
  margin-top: 20px;
}

.infoSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.sectionTitle {
  color: #000;
  font-weight: 700;
  margin-bottom: 20px;
}

.contactInfo {
  display: flex;
  align-items: center;
  column-gap: 10px;
  margin-top: 10px;
}

.icon {
  height: 40px; /* Adjust as needed */
}

.subscribeSection {
  margin-top: 40px;
}

.subscribeBox {
  display: flex;
  align-items: center;
  margin-top: 32px;
  border: 1px solid white;
  border-radius: 10px;
  background: transparent;
  padding: 10px;
}

.subscribeBox input {
  flex: 1;
  height: 56px;
  outline: none;
  border: none;
  background: transparent;
}

.subscribeIcon {
  color: white;
}

.copyRight {
  color: #000;
  font-size: 11.0625px;
  line-height: 14px;
  width: 333.47px;
  text-align: center;
  margin: 20px 0;
}

@media (max-width: 1200px) {
  .footerContent {
    margin: 0;
  }

  .container {
    flex-direction: column;
    align-items: center;
  }

  .subscribeBox {
    width: 90%;
  }

  .infoSection {
    grid-template-columns: 1fr;
    padding: 10px;
  }

  .subscribeSection {
    margin-top: 68px;
  }
}
