.navbarContainer {
  display: flex;
  column-gap: 20px;
  margin: 0 auto;
  margin-top: 100px;
  width: 100vw;
  padding: 0 340px;
}

.horizontalItem {
  border-bottom: 1px solid black;
  padding-bottom: 20px;
}

.navItem {
  display: flex;
  column-gap: 5px;
  margin-top: 25px;
  font-size: 15.5px;
  font-weight: 600;
  opacity: 0.2;
}

.navItem svg {
  width: 20px;
  height: auto;
  object-fit: cover;
}

.activeItem {
  opacity: 1;
}

.navMenu {
  width: 270px;
}

.grid {
  grid-template-columns: 1fr 1fr;
}

.titleSession {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 1400px) {
  .navbarContainer {
    padding: 0 100px;
  }
}

@media (max-width: 1200px) {
  .navbarContainer {
    padding: 0 100px;
    margin-top: 10px;
    flex-direction: column;
    width: 100%;
  }

  .navMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    cursor: pointer;
  }
}

@media (max-width: 768px) {
  .horizontalItem {
    border-left: 1px solid black;
    padding-bottom: 20px;
  }

  .hovi {
    display: none;
  }

  .navbarContainer {
    flex-direction: column;
    width: 100%;
    margin-top: 0;
    padding: 0;
  }

  .navItem {
    flex-direction: column;
    width: 100%;
    margin-top: 0;
    padding: 20px 0;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #000000a1;
  }

  .navMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    cursor: pointer;
  }

  .cardHotGame {
    margin-top: 30px;
    width: 100%;
    background: #d6b14f;
    color: white;
    padding-bottom: 20px;
    border-radius: 20px;
  }

  .cardHotGame img {
    border-radius: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .infoCard {
    margin: 0 20px;
  }

  .grid {
    grid-template-columns: 1fr;
  }

  .titleSession {
    margin-top: 20px;
  }
}
