.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 28.36px;
  font-weight: 600;
}

.titleSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.navigation {
  display: flex;
  height: 30px;
}

.grid {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin-top: 30px;
}

.infoCard {
  display: flex;
  align-items: center;
  margin: 30px 20px;
  column-gap: 20px;
}

.cardTitle {
  font-weight: 600;
  font-size: 19px;
}

.cardDescription {
  font-size: 13px;
}

.viewButton {
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: black;
}

@media (max-width: 768px) {
  .container {
    padding: 0 40px;
  }
  .card {
    background: #d6b14f;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    padding-bottom: 20px;
  }
  .container {
    margin-top: 10px;
    flex-direction: column;
  }
  .grid {
    grid-template-columns: 1fr;
    margin-top: 0;
  }
  .card {
    margin-top: 30px;
    width: 100%;
  }
  .card img {
    width: 60px;
    height: 60px;
  }
  .titleSection {
    margin-top: 20px;
  }
}
