.footerContainer {
  margin: 0 200px;
  margin-top: 101px;
}

.footerBackground {
  background: rgba(0, 0, 0, 0.1);
  height: 1px;
  width: 100%;
  margin-top: 76px;
}

.footerContent {
  flex: 1;
  display: flex;
  justify-content: space-between;
  row-gap: 10px;
  margin-bottom: 50px;
}

.contactInfo {
  width: 40%;
  display: flex;
  flex-direction: column;
}
.contactInfo svg:first-child {
  width: 53px;
}
.address {
  opacity: 0.4;
  width: 172.36px;
  height: 32px;
  display: flex;
  flex-direction: column;
}

.address div {
  color: #000;
  font-size: 11.625px;
  line-height: 16px;
}

.socialIcons {
  display: flex;
  margin-top: 20px;
  column-gap: 16px;
}
.socialIcons svg {
  width: auto;
  height: 31px;
}
.footerHeading {
  opacity: 0.8;
  color: #000;
  margin-bottom: 20px;
  font-size: 13.2344px;
  line-height: 14px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.footerLinks {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.linkList {
  width: 100%;
}

.linkItem {
  opacity: 0.4;
  height: 12px;
  padding: 10px 0;
  font-size: 12px;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

.linkText {
  color: #000;
}

.divider {
  margin-top: 10px;
  max-width: 100%;
  height: 1px;
  background-color: #0000001a;
}

.copyright {
  opacity: 0.3;
  color: #000;
  font-size: 11.0625px;
  line-height: 14px;
  margin-top: 20px;
}

.mobileAddress {
  margin-top: -50px;
  width: 50vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@media (max-width: 768px) {
  .footerContainer {
    margin: 0px;
    padding: 0 40px;
  }
  .footerContent {
    flex-direction: column;
    row-gap: 0;
  }
  .footerLinks {
    flex-direction: column;
  }
  .footerHeading {
    cursor: pointer;
    border-bottom: 1px solid #e5e7eb;
    padding: 30px 0;
    margin-bottom: 0;
  }
  .divider {
    display: none;
  }
  .linkList {
    display: none;
  }
}
